/* surrounds everything */

.viewport {
    width: 95%;
    height: 700px;
    display: inline-block;
    position: relative;
}

.header {
    position: relative;
    height: 15%;
    display: grid;
    grid-template-columns: [timezone]auto [dates]auto;
    border-bottom: #dadce0 1px solid;
    padding: 0;
}

.timezone {
    font-size: 10px;
}

#weekLabels {
    grid-area: dates;
}

.dayLabel {
    text-align: center;
    border-left: #dadce0 1px solid;
}

.dateNumber {
    display: block;
    margin: 0 auto;
}

.schedule {
    position: relative;
    height: 85%;
    overflow: auto;
    display: grid;
    grid-template-columns: [head]1fr [body]14fr;
}

#overlay {
    grid-area: body;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2
}

.head {
    grid-area: head;
}

.body {
    grid-area: body;
}

.times {
    text-align: right;
    top: -11.5px;
    position: relative;
    margin-right: 10px;
    color: #70757a;
    font-size: 14px;
}

.week {
    display: grid;
    width: 100%;
}

.col {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: 1fr;
    padding: 0;
}

.day {
    border-left: #dadce0 1px solid;
}

.header>div {
    height: auto;
}

.spacer {
    margin-right: 5px;
}

.spacer::after {
    content: '';
    border-bottom: #dadce0 1px solid;
    position: absolute;
    left: -5px;
    width: 100%;
    margin-top: -1px;
    pointer-events: none;
}

.future {
    color: white;
    font-size: 12px;
    padding: 0 5px;
    text-align: left;
    height: 100%;
    border-radius: 3px;
    cursor: move;
    overflow: hidden;
}

.past {
    color: black;
    font-size: 12px;
    padding: 0 5px;
    text-align: left;
    height: 100%;
    border-radius: 3px;
    cursor: move;
    opacity: 75%;
    overflow: hidden;
}

 ::-webkit-scrollbar {
    /* scrollbar-witdh */
    width: 5px;
}

::-webkit-scrollbar-thumb {
    /* scrolling thing */
    background: #dadce0;
    border-radius: 10px;
}

 :hover::-webkit-scrollbar-thumb {
    /* hover color over general scrollbar */
    background: #bdc1c6
}

 ::-webkit-scrollbar-thumb:active {
    /* click srcolling thing */
    background: #616161;
}